.full_screen_picture {
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: -100px;
  pointer-events: none;
  position: relative;
  z-index: 1;
  .table {
    height: 100vh;
    position: absolute;
    z-index: 999999;
    .cell {
      display: table-cell;
      vertical-align: middle;
      height: 100vh;
      width: 100vw;
      text-align: center;
      .inner {
        h1 {
            color: white;
            margin: 0;
            font-size: 50px;
            font-family: $alfa;
        }
      }
    }
  }
}
