.kb_elastic .item {
  height: 100vh;
  margin-top: -100px;
  background-size: cover;
}
.kb_wrapper {
  .carousel-control {
    display: table;
    width: 7%;
    @include opacity(1);
    &:hover {
      @include opacity(1);
      .next, .prev {
        &:before {
          color: black(1);
          @include transition(.2s);
        }
      }
    }
    &.left, &.right {
      z-index: 9;
      margin-top: -50px;
      .prev {
        &:before {
          content: '\f053';
          font-family: 'FontAwesome';
          font-size: 50px;
          display: table-cell;
          vertical-align: middle;
          height: 100vh;
          text-shadow: 0 0 0 rgba(0,0,0,0);
          cursor: pointer;
          @include transition(.2s);
        }
      }
      .next {
        &:before {
          content: '\f054';
          font-family: 'FontAwesome';
          font-size: 50px;
          display: table-cell;
          vertical-align: middle;
          height: 100vh;
          text-shadow: 0 0 0 rgba(0,0,0,0);
          cursor: pointer;
          @include transition(.2s);
        }
      }
    }
  }
}
.kb_wrapper {
  .carousel-indicators {
    width: 0 auto;
    bottom: 1%;
    li {
      height: 10px;
      width: 10px;
      border: 1px solid #fff;
      margin: 0 2px;
    }
    li.active {
      background-color: #fff;
    }
  }

  .item {
    .table {
      height: 100vh;
      position: absolute;
      z-index: 999999;
      .cell {
        display: table-cell;
        vertical-align: middle;
        height: 100vh;
        width: 100vw;
        text-align: center;
        .inner {
          padding-top: 100px;
          h1 {
              color: white;
              margin: 0;
              font-size: 50px;
              font-family: $alfa;
          }
          h2 {
            color: white;
            margin: 0;
            font-size: 35px;
            font-family: $alfa;
          }
        }
      }
    }
  }
}
