
.mobile-buffer {
  min-height: 100px;
  @include transition(.2s);
}
body {
  overflow-x: hidden;
  position: relative;
  &.fix-me {
    // position: fixed;
    overflow: hidden;
  }
  &.msie {
    overflow-x: hidden;
  }
}
html, body {
  height: 100%;
}
.containment {
  min-height: 100%;
  min-width: 100vw !important;
}
.wrapper {

}
h1,h2,h3,h4,h5,h6 {
  font-family: $alfa;
  font-weight: $reg;
  margin: 0;
}
p,a,li {
  font-family: $beta;
  font-weight: $reg;
}
a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: 1px solid white(.05);
  }
}

.bg-white {
  background-color: white(1);
}
.bg-blue {
  background-color: blue(.1);
}
.bg-grey {
  background-color: grey(.05);
}
