/*-------------------

VIDEO BACKGROUND

--------------------*/
.jquery-background-video-pauseplay {
	display: none;
}

.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
  z-index: 99;
  @include opacity(.2);
}

.video-hero.jquery-background-video-wrapper {
    margin-top: -1px;
}

.filter {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 20;
  display: block;
  overflow: auto;
  text-align: center;
  pointer-events: none;
}

/*-------------------

VIDEO OVER TEXT

--------------------*/
.className {
  height: 220px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  pointer-events: auto;
  padding: 0 30px;
	margin-top: -30px;
  h2 {
    color: white(1);
    font-size: 50px;
    font-weight: $lig;
    font-family: $alfa;
    margin: 0 0 65px 0;
		line-height: 75px;
  }
}

/*-------------------

VIDEO CTA LINK

--------------------*/

a.darkbutton:link {
  background-color: $nav;
  color: $white;
  font-size: 14px;
  font-weight: $med;
  padding: 24px 30px 21px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  @include transition(.4s);
  font-family: $alfa;
}
a.darkbutton:visited {
  color: $white;
}
a.darkbutton:hover {
  text-decoration: none;
  background-color: $navbg;
  // @include bezier();
  @include transition(.4s);
  color: black;
}
a.darkbutton:focus {
  text-decoration: none;
  outline: none;
}

/*-------------------

VIDEO BOUNCE ARROW

--------------------*/

.chevron {
	a:link {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 50px 0;
		outline: none;
	}
	a:visited {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 50px 0;
		outline: none;
	}
	a:hover {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 50px 0;
		outline: none;
	}
	a:focus {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 50px 0;
		outline: none;
	}
  position: absolute;
  z-index: 99;
  text-align: center;
  bottom: 40px;
  left: 0;
  right: 0;
	height: 50px;
  img {
    width: 45px;
    height: auto;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 55.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
