.footer {
  background-color: blue(1);
  .row {
    min-height: 146px;
  }
  .logo {
    text-align: right;
    img {
      height: 34px;
      width: auto;
      margin: 0 0 30px 0;
    }
  }
  .links {
    ul {
      text-align: right;
      margin: 0 0 30px 0;
      li {
        display: inline-block;
        margin-left: 26px;
        a {
          &:link {
            font-family: $beta;
            font-size: 16px;
            color: white(1);
            line-height: 28px;
            @include transition(.4s);
            text-decoration: none;
          }
          &:visited {
            color: white(1);
          }
          &:hover {
            color: white(.6);
            @include transition(.2s);
            text-decoration: none;
          }
          &:focus {
            outline: 1px solid white(.03);
            text-decoration: none;
          }
        }
      }
    }
  }
  .legal {
    text-align: left;
    p {
      font-family: $beta;
      font-weight: $lig;
      font-size: 14px;
      color: white(1);
      line-height: 28px;
      margin: 0 0 20px 0;

      a {
        @include transition(.4s);

        &:link {
          color: white(1);
          text-decoration: none;
        }
        &:visited {
          color: white(1);
          text-decoration: none;
        }
        &:hover {
          color: white(.6);
          text-decoration: none;
        }
        &:focus {
          color: white(1);
          text-decoration: none;
        }
      }
    }
  }
}

.msie {
  .footer {
    padding-top: 60px;
  }
}

.footer {
  padding: 40px 0;
  .logo {
    text-align: center;
  }
  .links {
    ul {
      text-align: center;
    }
  }
  .legal {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {

  .footer {
    .links {
      ul {
        li {
          margin-left: 13px;
          margin-right: 13px;
        }
      }
    }
  }

} // end of media query
