
.header {
  height: 80px;
  background-color: white(0);
  z-index: 999;
  position: fixed;
  width: 100%;
  @include transition(.2s);
  .navbar-logo {
    img {
      height: 47px;
      width: auto;
      margin: 46px 0 0 -61px;
      @include transition(.4s);
    }
  }
  &.shrink {
    height: 80px;
    @include transition(.2s);
    .navbar-logo {
      // @include opacity(0);
      pointer-events: none;
      @include transition(.2s);
      img {
        margin-top: -93px;
        @include transition(.2s);
      }
    }
  }
  // shrink
}

.mt-top {
  margin-top: -10px;
}

.nav > li {
    display: inline-block;
}
.navburger-wrapper {
  position: relative;
}
button.navburger {
  position: absolute;
  right: -61px;
  width: 60px;
  height: 80px;
  background-color: blue(1);
  border: 0 solid blue(0);
  padding: 0;
  margin: 0;
  z-index: 9999;
  @include border-radius(0);
  @include transition(.2s);
  &:hover {
    background-color: hue(1);
    @include transition(.2s);
  }
  .icon-bar {
    @include transition(.2s);
    background-color: white(1);
    height: 2px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    &:nth-of-type(1) {
      @include transition(.2s);
      top: 30px;
      width: 20px;
    }
    &:nth-of-type(2) {
      @include transition(.2s);
      top: 38px;
      width: 30px;
    }
    &:nth-of-type(3) {
      @include transition(.2s);
      top: 38px;
      width: 30px;
    }
    &:nth-of-type(4) {
      @include transition(.2s);
      top: 46px;
      width: 20px;
    }

  }
  &.crossed {
    .icon-bar {
      &:nth-of-type(1) {
        @include opacity(0);
        @include transition(.1s);
      }
      &:nth-of-type(2) {
        @include rotate(45deg);
        @include transition(.3s);
      }
      &:nth-of-type(3) {
        @include rotate(-45deg);
        @include transition(.3s);
      }
      &:nth-of-type(4) {
        @include opacity(0);
        @include transition(.1s);
      }
    }
  }
}


ul.dropdown-menu {
  box-shadow: none;
  @include border-radius(0);
  border-top: 0 solid black(0);
  border-right: 1px solid black(.1);
  border-bottom: 1px solid black(.1);
  border-left: 1px solid black(.1);
  width: 200px;
  margin: 0 0 0 -100px;
  left: 50%;
  padding: 0;
  li {
      a {
       padding: 20px 0;
       color: black(.6);
       font-size: 20px;
       font-family: $alfa;
       &:link {
         color: black(1);
         @include transition(.2s);
         text-align: center;
       }
       &:visited {
         color: black(1);
       }
       &:hover, &:focus {
         text-decoration: none;
         color: black(1);
         @include transition(.2s);
         background-color: black(.03);
       }
     }
     &.current-menu-item {
       a {
         background-color: black(.06);
         &:hover {
           background-color: black(.03);
           color: black(1);
         }
       }
     }
  }
}


.the-blob {
  background-color: grey(1);
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 999;
  @include border-radius(50%);
  right: -61px;
  top: -50px;
  @include scale(1);
  @include transition(.25s);
  &.evergrowing {
    @include scale(110);
    @include transition(.25s);
  }
}

.the-blob-nav {
    .navbar-logo {
      img {
        @include opacity(0);
        @include transition(.2s);
        animation-delay: 3s;
      }
    }
  &.showoff {
      .navbar-logo {
        img {
          @include opacity(1);
          @include transition(.4s);
          animation-delay: .5s;
        }
      }
  }
  button.navburger {
    position: absolute;
    top: 0;
    right: 15px;
    width: 48px;
    height: 48px;
    border: 1px solid white(.5);
    background-color: black(1);
    padding: 0;
    margin: 16px 0;
    @include border-radius(0);
    .icon-bar {
      @include transition(.2s);
      background-color: white(1);
    }
  }
}



.the-blob-nav {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  height: 100vh;
  width: 100%;
  // display: none;
  @include opacity(0);
  @include transition(.2s);
  &.showoff {
    // display: none;
    @include opacity(1);
    @include transition(.05s);
    pointer-events: all;
  }
    .menu-blob {
      .navi {
        display: block;
        text-align: left;
        margin: 0 auto 0 auto;
        // border-right: 2px solid white(.1);
        li {
          display: block;
          &.active {
            pointer-events: none;
            a {
              color: blue(1);
            }
          }
        }
        a {
          @include selectxt();
          font-family: $alfa;
          font-weight: $reg;
          font-size: 54px;
          color: white(1);
          letter-spacing: 0;
          line-height: 68px;
          @include transition(.4s);
          &:visited {
            color: white(1);
          }
          &:hover {
            @include transition(.2s);
            color: blue(1);
            text-decoration: none;
          }
          &:focus {
            outline: 0 solid white(0);
            text-decoration: none;
          }
        }
      }
    }
  }

.contact-blob {
  p {
    font-size: 18px;
    color: white(1);
    letter-spacing: 0;
    line-height: 30px;
    margin: 10px 0 20px 0;
  }
  span {
    font-size: 18px;
    color: white(1);
    letter-spacing: 0;
    line-height: 20px;
    padding-left: 40px;
    display: block;
    i {
      position: absolute;
      left: 10px;
    }
    a {
      &:link {
        color: white(1);
        @include transition(.2s);
      }
      &:visited {
        color: white(1);
      }
      &:hover {
        color: white(.6);
        text-decoration: none;
        @include transition(.2s);
      }
      &:focus {
        outline: 1px solid white(.03);
        text-decoration: none;
      }
    }
  }
  .linkwrap {
    a {
      font-family: $alfa;
      font-weight: $reg;
      font-size: 18px;
      text-transform: none;
      &:link {
        padding-right: 50px;
        i {
          margin: 22px 0 0 5px;
          font-size: 30px;
        }
      }
    }
    &.deets, &.blob {
      span a {
        color: blue(1);
        &:link {
          padding-right: 0;
          color: blue(1);
          position: relative;
          padding-right: 25px;
          i {
            margin: 0 0 0 5px;
            position: absolute;
            right: 0px;
            top: 3px;
            left: auto;
            font-size: 18px;
          }
        }
        &:visited {
          color: blue(1);
        }
        &:hover {
          color: hue(1);
          i {
              -webkit-animation: myfirst .3s infinite; /* Chrome, Safari, Opera */
              -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
              animation: myfirst .3s infinite;
              animation-direction: alternate;
            }
        }
      }
    }
  }
}
p.blob {
  a {
    padding-right: 35px !important;
    i {
      margin: 0 0 0 0 !important;
      font-size: 18px !important;
    }
  }
}
.menu-blob {
  height: 340px;
}

.blob-content {
  &.container {
    max-width: 970px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include opacity(0);
    @include transition(1s);
    animation-delay: 0s;
    &.opaque {
      @include opacity(1);
      @include transition(.1s);
    }
    &.zoom {
      left: -200vw;
      @include transition(.5s);
    }
    .row {
      height: 100vh;
      margin-top: -93px;
    }
  }
}

.blob-hidden {
  // max-width: 970px;
  width: 100vw;
  position: absolute;
  left: 100vw;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  @include opacity(0);
  @include transition(1s);
  &.opaque {
    @include opacity(1);
    @include transition(.1s);
  }
  &.mooz {
    left: 0;
    @include transition(.5s);
    animation-delay: .3s;  height: 100vh;
  }
  .row {
    height: 100vh;
    margin-top: -93px;
  }
  .contact-form-wrapper {
    float: left;
    padding: 0 0 0 60px;
    width: 50%;
  }
}

@media only screen and (min-width: 1199px) and (max-width: 1400px) {

  .header {
    .navbar-logo {
      img {
        margin: 46px 0 0 15px;
      }
    }
  }
  button.navburger {
    right: 15px;
  }
  .the-blob {
    right: 15px;
  }

} // end of media query


@media only screen and (min-width: 993px) and (max-width: 1199px) {

  .header {
    .navbar-logo {
      img {
        margin: 46px 0 0 15px;
      }
    }
  }
  button.navburger {
    right: 15px;
  }
  .the-blob {
    right: 15px;
  }

} // end of media query

@media only screen and (min-width: 768px) and (max-width: 870px) {

  .header {
    .navbar-logo {
      img {
        margin: 46px 0 0 -30px;
      }
    }
  }
  button.navburger {
    right: -30px;
  }

} // end of media query


@media only screen and (min-width: 1025px) {



} // end of media query

@media only screen and (max-width: 1024px) {

.the-blob {
  right: 20px;
}
.menu-blob {
  padding-right: 50px !important;
}

} // end of media query

@media only screen and (max-width: 992px) {

  .the-blob-nav {
    .menu-blob {
      .navi {
        border: none;
      }
    }
  }
  .blob-content.container .row {
    // margin-top: 0;
    .contact-blob {
      margin-top: -300px !important;
    }
  }

}

@media only screen and (max-width: 768px) {


  .header {
    .navbar-logo {
      img {
        margin: 34px 0 0 0;
      }
    }
  }
  button.navburger {
    right: 15px;
  }

  .the-blob-nav {
    .menu-blob {
      .navi {
        border: none;
      }
    }
  }



} // end of media query

@media only screen and (max-width: 480px) {



} // end of media query
