.embed-container {
  padding-bottom: 64.406%;
  background-size: cover;
  background-position: center;
  margin: 0 0 50px 0;
}

.text-row.singlepost {
  padding-bottom: 200px;
  h1 {
    font-size: 28px;
    color: #58585B;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

h3.row-title {
  font-size: 28px;
  color: #6dcef5;
  line-height: 30px;
  margin: 0 0 30px 0;
  text-align: center;
}
