.footlogo {
  width: 100%;
  height: auto;
}
.footer {
  padding: 15px 0;
  border-top: 1px solid black(.03);
  background-color: black(.06);
  margin-top: 20px;
  position: relative;
  z-index: 9999;
  h3, p {
    margin: 0;
    strong {
      margin: 0 10px 0 10px;
      font-size: 14px;
      font-family: $beta;
    }
    font-size: 14px;
    font-family: $beta;
    display: inline-block;
    width: auto;
    &:nth-of-type(1) {
      strong {
        margin: 0 10px 0 0;
      }
    }
  }
  ul {
    float: right;
    margin: 0;
  }
  li, p.plott {
    display: inline-block;
    a {
      margin: 0 10px 0 10px;
      font-size: 14px;
      font-family: $alfa;
      font-weight: $reg;
      color: black(.6);
      @include transition(.2s);
      &:visited {
        text-decoration: none;
        color: black(.6);
      }
      &:hover, &:focus {
        text-decoration: none;
        color: lsb(1);
        @include transition(.2s);
      }
    }
  }
  nav {
    display: inline-block;
    vertical-align: top;
  }
  p.plott {
    text-align: right;
    display: inline-block;
    vertical-align: top;
  }
}
.footable {
  height: 120px;
  display: table;
  position: relative;
  img {
    &.footlogo {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
    }
  }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  &:nth-of-type(3) {
    text-align: right;
  }
}

.footer {
  font-size: 0;
  .address {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }
  .social {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    a {
      font-size: 20px;
      background-color: white(1);
      @include border-radius(50%);
      height: 40px;
      line-height: 44px;
      width: 40px;
      margin: 0 5px 0 0;
      display: inline-block;
      text-align: center;
    }
  }
}
