.tab-nav-content {
  text-align: center;
  border-top: 1px solid black(.15);
  border-bottom: 1px solid black(.15);
  a {
    display: inline-block;
    &:link {
      color: black(.6);
      font-size: 50px;
      font-family: $alfa;
      font-size: 14px;
      letter-spacing: 1.75px;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      margin: 0 20px;
      font-weight: $reg;
      @include transition(.2s);
    }
    &:visited {
      color: black(.6);
    }
    &:hover {
      text-decoration: none;
      color: lsb(1);
      @include transition(.2s);
    }
  }
}

@media only screen and (min-width: 1025px) {



} // end of media query

@media only screen and (max-width: 1523px) {

  .tab-nav-content {
    a {
      &:link {
        line-height: 50px;
      }
    }
  }

} // end of media query

@media only screen and (max-width: 768px) {



} // end of media query

@media only screen and (max-width: 480px) {

  .tab-nav-content {
    border-bottom: 1px solid rgba(144, 185, 190, 0.2);
    a {
      display: block;
      line-height: 34px;
      &:after {
        content: "......";
        display: block;
        line-height: 20px;
      }
      &:first-of-type {
        margin-top: 20px;
      }
      &:last-of-type {
        margin-bottom: 20px;
        &:after {
          content: "";
        }
      }
    }
  }

} // end of media query
